{% extends 'application/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for billet in billets %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2>{{ billet.evenement.titre }}</h2>
                    <img class="card-img-top" src="{{ billet.evenement.thumbnail.url }}" alt="Card image cap" style="max-width: 250px;">  
                    <p>{{ billet.evenement.date }} A retenir</p>
                    <p class="prix_ticket">{{ billet.evenement.prix_ticket }} F cfa</p>
                    <p class="quantite">{{ billet.quantite }} dans le panier</p>
                    <form action="{% url 'add_to_cart' billet.evenement.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                    <form action="{% url 'remove_from_cart' billet.evenement.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Diminuer</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        <p><strong>Total du panier:<span id="cart_total">0</span> F CFA</strong></p>
        <a href="{% url 'delete_cart' %}" class="btn btn-danger" style="margin-top:20px; margin-right:10px; width:200px">Supprimer le panier</a>
        <a href="" class="btn btn-primary" style="margin-top:20px; width:200px">Valider le paiement</a>
                
    </div>
</div>

<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        var total = 0;
        var prix_elements = document.querySelectorAll(".prix_ticket");
        var quantite_elements = document.querySelectorAll(".quantite");
    
        for (var i = 0; i < prix_elements.length; i++) {
            var prix = parseFloat(prix_elements[i].textContent);
            var quantite = parseInt(quantite_elements[i].textContent);
            total += prix * quantite;
        }
    
        document.getElementById("cart_total").textContent = total.toFixed(2);
    });
    </script>
{% endblock %}
